## Problem:

### Three distinct points are plotted at random on a Cartesian plane, for which -1000 ≤ x, y ≤ 1000, such that a triangle is formed.

Consider the following two triangles:

A(-340,495), B(-153,-910), C(835,-947)

X(-175,41), Y(-421,-714), Z(574,-645)

It can be verified that triangle ABC contains the origin, whereas triangle XYZ does not.

Using triangles.txt (right click and 'Save Link/Target As...'), a 27K text file containing the co-ordinates of one thousand "random" triangles, find the number of triangles for which the interior contains the origin.

NOTE: The first two examples in the file represent the triangles in the example given above.

In [70]:
import pandas as pd
import numpy as np
df=pd.read_csv('p102_triangles.txt', names=(['A1','A2','B1','B2','C1','C2']))
df

      A1   A2   B1   B2   C1   C2
0   -340  495 -153 -910  835 -947
1   -175   41 -421 -714  574 -645
2   -547  712 -352  579  951 -786
3    419 -864  -83  650 -399  171
4   -429  -89 -357 -930  296  -29
..   ...  ...  ...  ...  ...  ...
995  694 -119  973 -385  309 -760
996  777 -947  -57  990   74   19
997  971  626 -496 -781 -602 -239
998 -651  433   11 -339  939  294
999 -965 -728  560  569 -708 -247

[1000 rows x 6 columns]

#### My idea here is that if a triangle contains the origin, then the area of the triangle could be broken as the sum of areas of the 3 triangles made by the origin and the sides of the triangle.

In [80]:
#defining the formula of the area of a triangle knowing its vertices
def area(a1,a2,b1,b2,c1,c2):
    return 0.5*abs(a1*b2+a2*c1+b1*c2-a1*c2-a2*b1-b2*c1)

In [83]:
#comparing the areas and counting the answer
ans=0
for k in range (len(df)):
    area_tri=area(df['A1'][k],df['A2'][k],df['B1'][k],df['B2'][k],df['C1'][k],df['C2'][k])
    area_ori=area(df['A1'][k],df['A2'][k],df['B1'][k],df['B2'][k],0,0)+area(df['B1'][k],df['B2'][k],df['C1'][k],df['C2'][k],0,0)+area(df['A1'][k],df['A2'][k],df['C1'][k],df['C2'][k],0,0)
    if area_tri==area_ori:
        ans+=1
ans

228